.Main_content{
    margin-left: 35%;
    margin-top: 5%;
    border: 1px black solid;
    padding: 5%;
    padding-top: 3%;
    margin-right: 35%;
    border-radius: 25px 25px;
    background-color: rgba(240, 248, 255, 0.85);
    box-shadow: 10px 10px rgba(242, 245, 179, 0.775);
}

body {
    background-image: url("./bg2.jpg");
    background-size: cover;
}

button {
    padding: 3%;
    background-color: greenyellow;
    font-weight: 500;
    border-radius: 15px 15px;
    box-shadow: 3px 3px 3px black;
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

h1 {
    font-weight: 600;
}